common/lib/
downloaded-libs
target/
eclipsetarget/
src_managed/
package/jre
project/boot/
project/plugins/project
.cache*
.classpath
.history
.project
.settings
Thumbs.db
*.log
.gradle
build/*
android/build
core/build
desktop/build
out/
core/out
desktop/out
.idea/
*.iml
